@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
    background-color: #f9f9f9;
    color: #1a2b44;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }
  
  .btn-primary {
    background: linear-gradient(225deg, #3DB4FF 0%, #5FD1C6 100%);
    border: none;
    font-weight: 500;
}

.bg-primary {
    background: linear-gradient(225deg, #3DB4FF 0%, #5FD1C6 100%);
}
  
  .container-fluid {
    padding: 10px 10% 10px 10%;
  }

  .text-success {
      color: #5fd1c6 !important;
  }

  .title {
      font-weight: bold;
      font-size: 20px;
  }

  .edit {
      font-size: 0.875rem;
      margin-top: 6px;
      color: #adb4bd;
      text-decoration: underline;
  }

  .btn-light-success {
      background-color: #e6f8f7;
      color: #5fd1c6;
  }

  .page-item.disabled .page-link {
      border: none;
      background-color: transparent;
  }

  .page-link {
      border: none;
      color: #5fd1c6;
      background-color: transparent;
  }

  .btn-success {
      background: #5fd1c6;
      border: none;
  }

  .btn-lg {
      font-size: 1rem;
      padding: 10px;
  }

  .btn-dark {
      background-color: #1f3048;
      border: none;
  }

  .btn-sm {
      padding: 0 10px;
  }

  .title .btn-sm {
      margin-top: 4px;
  }

  .text-sm {
      font-size: small;
  }

  .btn-light-primary {
      background-color: #d1e3ff;
      color: #1775ff;
  }

  .text-muted {
      color: #b6bcc4 !important;
  }

  .text-danger {
      color: #e47b84 !important;
  }

  img:hover {
      transform: scale(1.1);
  }

  img {
      transition-duration: 0.5s;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .types-line {
      display: table;
      padding: 0;
      margin: 0 auto;
      width: 90%;
  }

  .types-line > li {
      display: table-cell;
  }

  .types-line > li > div {
      position: relative;
      padding: 18px 5px 5px;
  }

  .types-line > li > div::before {
      content: "";
      display: block;
      background-color: #eee;
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      top: 4px;
  }

  .types-line > li > div::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5),
                0 0 5px 0 rgba(0, 0, 0, 0.1);
}